
@import 'bourbon/bourbon';
@import 'neat/_neat';

// body {
//   background: #fafafa;
//   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//   color: #333;
// }

// .hero-unit {
//   margin: 50px auto 0 auto;
//   width: 600px;
//   font-size: 18px;
//   font-weight: 200;
//   line-height: 30px;
//   background-color: #eee;
//   border-radius: 6px;
//   padding: 60px;
//   h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
//   }
// }

#a1 {
  @include outer-container;
  @include linear-gradient(#1e5799, #2989d8);
 #b1 { 
    @include span-columns(6); 
    background-color: green;
    }
  #c1 {
    @include span-columns(6); 
   background-color: blue;
}
}


#a2 {
  @include outer-container;
  // background-color: grey;
  #b2 {
    @include span-columns(11);
    // @include omega;
    background-color: red;
    color: purple;
  }
  #article2 {
    @include span-columns(1);
  }
  #b21 {
    @include span-columns(10);
    // @include omega;
    color: purple;
    background-color:black;
  }
  #article21 {
    @include span-columns(2);
    color:orange;
    background-color:aliceblue;
  }
  #b23 {
    @include span-columns(9);
    // @include omega;
    background-color: yellow;
    // height: 4em;
  }
  #article22 {
    @include span-columns(3);
  }
  #b24{
    @include span-columns(8);
    // @include omega;
    background-color: orange;
  }
  #article23 {
    @include span-columns(4);
    background-color:blue;
  }
}
